.query-condition .panel-content {
    padding: 0 20px;
}

.query-condition section,
.query-condition section ul li {
    margin-left: 40px;
    margin-top: 20px;
    position: relative;
}

.query-condition .query-condition-title::before,
.query-condition section ul li::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #000;
    border-radius: 50%;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}

.query-condition .query-condition-title {
    position: relative;
}

.query-condition section>*,
.query-condition section ul li>* {
    margin-right: 12px;
}

.query-condition section ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.query-condition .del-btn,
.query-condition .add-btn {
    all: unset;
    cursor: pointer;
}

.query-condition section.center {
    margin: 0;
    text-align: center;
}

.query-condition section .ant-btn {
    margin: 20px;
}