.level-controller {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;
    margin-right: 8px;
}

.level-controller .level-controller-title,
.level-controller .level-controller-value {
    font-size: 16px;
    white-space: nowrap;
}

.level-controller .ant-slider {
    width: 100px;
}

.level-controller .ant-slider .ant-slider-rail,
.level-controller .ant-slider .ant-slider-track {
    border-radius: 99px;
}