.header {
  width: var(--width);
  height: var(--header-height);
  line-height: var(--header-height);
  position: relative;
  margin: 0 auto;
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .header-title {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  color: #619cd3;
  margin: 0;
}
