.header {
  width: 100%;
  height: var(--header-height);
  line-height: var(--header-height);
  position: relative;
  margin: 0 auto;
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  background-color: #619CD3;
}

.header .header-title {
  text-align: center;
  margin: 0;
  font-family: Arial;
  font-size: 48px;
  font-style: italic;
  font-weight: 700;
}

.header .header-left,
.header .header-right {
  min-width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  gap: 10px;
}

.header .header-right .icon {
  font-size: 24px;
  margin-right: 12px;
}

.header .header-right .ant-typography {
  color: #fff;
  font-size: 20px;
  white-space: nowrap;
}

.header .header-right .icon.active {
  transform: rotate(180deg);
}