.recommendation .block-content {
    display: flex;
    flex-direction: column;
}

.recommendation .recommendation-choices {
    display: flex;
    justify-content: space-between;
}

.recommendation .recommendation-choices .recommendation-choice {
    flex: 1;
    position: relative;
    text-align: center;
    z-index: 9;
    color: #fff;
    font-weight: bold;
    font-style: italic;
}

.recommendation .recommendation-choices .recommendation-choice::before {
    content: '';
    display: block;
    position: absolute;
    width: calc(100% - 10px);
    left: 5px;
    height: 100%;
    background-color: #f2f2f2;
    transform: skew(-20deg);
    z-index: -1;
    background: #619cd366;
}

.recommendation .recommendation-content {
    padding: 4px;
    background-color: #f2f2f2;
    border-radius: 8px;
    margin-top: 8px;
    flex: 1 1 0;
}