.explore {
    display: flex;
    flex-direction: column;
    height: calc(100% - 20px);
    padding: 10px;
}

.explore .explore-item {
    flex: 1 1 0;
    min-height: 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
    transition: flex-grow 0.2s, flex-basis 0.2s;
}

.explore .explore-item.hide {
    flex-grow: 0;
    flex-basis: 40px;
}

.explore .explore-item .explore-item-title {
    position: sticky;
    margin: 0;
    top: 0;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    z-index: 9;
    display: flex;
    justify-content: space-between;
}

.explore .explore-item .explore-item-title .tools {
    display: flex;
    align-items: center;
    gap: 12px;
}

.explore .explore-item .explore-item-title .tools button {
    all: unset;
    cursor: pointer;
    overflow: hidden;
}

.explore .explore-item .explore-item-content {
    height: 100%;
    overflow: auto;
}

.explore .explore-item .explore-item-content.hide {
    height: 0;
}

.explore .explore-item .explore-item-content-list {
    display: flex;
    align-items: center;
    gap: 8px;
}

.explore .explore-item .explore-item-content .explore-item-content-title {
    font-weight: bold;
    width: 60px;
    white-space: nowrap;
    text-align: center;
    flex-shrink: 0;
}

.explore .explore-item .explore-item-content .explore-item-content-remove {
    all: unset;
    cursor: pointer;
    width: 20px;
    height: 100%;
    position: relative;
    margin-right: 10px;
    flex-shrink: 0;
}

.rotate {
    transform: rotate(180deg);
}