.search-tree .panel-content {
    overflow: hidden;
    position: relative;
}

#reset-button {
    all: unset;
    position: absolute;
    border: 1px solid #e0e0e0;
    padding: 2px 6px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 #0000001a;
    left: 6px;
    top: 6px;
}