.choose-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 4px;
    font-weight: bold;
    box-sizing: border-box;
    gap: 12px;
}

.choose-item .choose-item-content {
    position: relative;
    display: flex;
    gap: 6px;
    align-items: center;
}

.choose-item .choose-item-title {
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.choose-item .choose-item-content .choose-item-content-list {
    position: absolute;
    min-height: 0;
    right: -4px;
    top: 100%;
    background-color: #fff;
    max-height: 200px;
    list-style: none;
    z-index: 9;
    padding: 8px;
    margin: 14px 0 0;
    border-radius: 8px;
    box-shadow: 0 2px 10px -2px #3339;
    overflow: auto;
}

.choose-item .choose-item-content .choose-item-content-list li {
    padding: 6px 20px 6px 10px;
    border-radius: 4px;
    font-weight: normal;
}

.choose-item .choose-item-content .choose-item-content-list li:hover {
    background-color: #567DFFaa;
    color: #fff;
}

.choose-item .choose-item-content .icon {
    flex-shrink: 0;
}