.results-content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  text-align: center;
}

.result-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  gap: 8px;
  position: sticky;
  top: 0;
  padding: 12px;
  background-color: #fff;
}

.result-header > div {
  background-color: #eee;
  border-radius: 4px;
  height: 100%;
  line-height: 64px;
}

.results-content .fix-width {
  width: 64px;
  font-weight: 700;
}

.result-item .data-name {
  width: 68px;
}

.results-content .flex-width {
  flex: 1 1 0;
  font-weight: 700;
}

.result-item-list {
  display: flex;
  flex-direction: column;
  min-width: 0;
  box-sizing: border-box;
  padding: 12px;
}

.result-item {
  width: 100%;
  background: white;
  margin-bottom: 16px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.result-item svg {
  min-width: 0;
}

.result-item.active {
  outline: 2px solid #B1B1B1;
  background-color: #F5F5F5;
}

.result-item .data-value {
  height: 100%;
  padding: 4px;
  color: #fff;
  background-color: #eee;
  border-radius: 8px;
  margin-inline: 12px;
}

.result-item .data-value .data-value__inner {
  height: 100%;
  background-color: #9CC9EE;
  border-radius: 4px;
  white-space: nowrap;
}