.nl-query-form {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  border-radius: 16px;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 8px;
}

.query-icon {
  left: 10px;
  top: 10px;
  width: 24px;
  height: 24px;
  font-size: 24px;
}

.send {
  width: 32px;
  height: 32px;
  background-color: unset;
  border: none;
  padding: 0;
  font-size: 32px;
}

.send:disabled circle {
  fill: #ccc;
}

.nl-query {
  flex: 1 1 0;
  height:auto;
  line-height: 32px;
  margin: 0;
  padding: 0;
  font-family: "Arial";
  font-size: 20px;
  border: none;
  outline: none;
  resize: none;
  color: #000000;
  white-space: pre-wrap;
  line-break: anywhere;
  overflow: hidden;
}



b {
  font-weight: normal;
}