.table-content {
    overflow-y: auto;
    height: 100%;
}

.table-upload {
    height: 100%;
    width: 100%;
    color: #eee;
}

.table-upload .csv-loader {
    font-size: 128px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-view .panel-content {
    padding: 0;
}